<div class="card card-body p-5 mt-4">
  <h1 class="display-4">BIENVENIDO AL GIMNASIO</h1>
  <p class="lead">Encontrara los mejores ejercicios</p>
  <hr class="my-4" />
  <p>
  </p>
  <div>
    <a
      class=" btn bg-btn justify-content-center btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >REGISTRARSE</a>
  </div>
</div>